.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background-color: #fff;
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: none; 
    transition: transform 0.3s ease-in-out;
  }

  body {
    margin: 0;
    padding: 0;
  }
  
  .main-content {
    margin-top: 80px; 
  }
  
  
  
  .navbar.hidden {
    transform: translateY(-100%);
  }
  
  .navbar.visible {
    transform: translateY(0);
  }
  
  .logo h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #ff6f61;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  .search-category {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-bar {
    padding: 10px 15px;
    padding-left: 35px;
    border-radius: 30px;
    border: none;
    background-color: #333;
    color: white;
    width: 250px;
    font-size: 16px;
    transition: width 0.3s ease;
  }
  
  .search-bar:focus {
    outline: none;
    width: 350px;
    background-color: #444;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #ff6f61;
    font-size: 18px;
  }
  
  .category-dropdown {
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .category-dropdown:hover {
    background-color: #333;
  }
  
  .dark-mode-toggle {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
  }
  
  .dark-mode-toggle button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ff6f61;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  body.dark-mode .navbar {
    background-color: #121212;
  }

  body.dark-mode .movie-card-title {
    font-size: 17px;
    font-weight: bold;
    color: #e0e0e0;
    margin-top: 8px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }
  
    .search-category {
      flex-direction: column;
      gap: 10px;
      margin-top: 15px;
    }
  
    .search-bar {
      width: 100%;
    }
  
    .category-dropdown {
      width: 100%;
    }
  }
  